<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <!-- <div class="side-nav-button p-2 me-3 text-light" (click)="sideNavToggle()">
        <i class="fa-solid fa-bars"></i>
    </div> -->
    <a class="navbar-brand px-4" routerLink=""><b>RCloud</b></a>
    <div class="navbar-collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Softwares
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" routerLink="#">3D modeling</a></li>
                    <li><a class="dropdown-item" routerLink="#">Game Development</a></li>
                    <li><a class="dropdown-item" routerLink="#">Software Development</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Menu1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" routerLink="#">Action</a></li>
                    <li><a class="dropdown-item" routerLink="#">Another action</a></li>
                    <li><a class="dropdown-item" routerLink="#">Something else here</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Menu1
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" routerLink="#">Action</a></li>
                    <li><a class="dropdown-item" routerLink="#">Another action</a></li>
                    <li><a class="dropdown-item" routerLink="#">Something else here</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="d-flex me-5">
        <img src="./assets/notifications.svg">
    </div>
    <div class="d-flex me-5 ">

        <i class="fa-solid fa-angle-down" data-bs-toggle="dropdown" style="color: #fafafa;"></i>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right responsive-dropdown">

            <li><a class="dropdown-item" routerLink="/login">Log In</a></li>
            <!-- <li><a class="dropdown-item" routerLink="#">Your Profile</a></li>
            <li><a class="dropdown-item" (click)="logOut()">Log Out</a></li> -->
            <div style="align-items: center;">
            <li><a class="dropdown-item" href="/welcome/">
                <img src="./assets/home.svg" style="padding-right: 10px; margin-bottom: 2px;" alt="">Home</a></li>
            <li><a class="dropdown-item" href="/settings/#settingsprofile" onclick="changeTabSubmenu('settingsprofile')">
                <img src="./assets/profile.svg" style="padding-right: 10px; margin-bottom: 2px;"
                    alt="">Profile</a></li>
            <li><a class="dropdown-item" href="/settings/#settingscompliances" onclick="changeTabSubmenu('settingscompliances')">
                <img src="./assets/compliances.svg" style="padding-right: 10px; margin-bottom: 2px;"
                    alt="">Compliance</a></li>
            <li><a class="dropdown-item" href="/settings/#settingspreferences" onclick="changeTabSubmenu('settingspreferences')">
                <img src="./assets/preferences.svg" style="padding-right: 10px; margin-bottom: 2px;"
                    alt="">Preferences</a></li>
            <li><a class="dropdown-item" href="/settings/#settingsauthentication" onclick="changeTabSubmenu('settingsauthentication')">
                <img src="./assets/authentication.svg" style="padding-right: 10px; margin-bottom: 2px;"
                    alt="">Authentication</a></li>
            <li><a class="dropdown-item" href="/settings/#settingssshkeys" onclick="changeTabSubmenu('settingssshkeys')">
                <img src="./assets/ssh-keys.svg" style="padding-right: 10px; margin-bottom: 2px;" alt="">SSH-Keys</a></li>
            <li><a class="dropdown-item" href="/settings/#settingsapi" onclick="changeTabSubmenu('settingsapi')">
                <img src="./assets/api.svg" style="padding-right: 10px; margin-bottom: 2px;" alt="">API</a></li>
            <li><a class="dropdown-item" href="/settings/#settingsusers" onclick="changeTabSubmenu('settingsusers')">
                <img src="./assets/users.svg" style="padding-right: 10px; margin-bottom: 2px;"
                    alt="">Users</a></li>
            <li><a class="dropdown-item" href="/settings/#settingsnotifications" onclick="changeTabSubmenu('settingsnotifications')">
                <img src="./assets/notifications.svg" style="padding-right: 10px; margin-bottom: 2px;"
                    alt="">Notifications</a></li>
            <hr>
            <li><a class="dropdown-item" href="/?logout=1" (click)="logOut()">
                <img src="./assets/logout.svg" style="padding-right: 10px; margin-bottom:-2px;"
                    alt="">Logout</a></li>
            </div>
        </ul>
    </div>

    <div class="profile-logo">
        <button class="btn btn-outline-light">Deploy +</button>
    </div>
</nav>