<!-- <div class="container"> -->
  <!-- <i class="fa-solid fa-bars"></i> -->
  <!-- <app-header></app-header>
  <router-outlet></router-outlet>
</div> -->
<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>
  <main>
    <app-side-nav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-side-nav>
    <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideNavStatus}">
      <!-- <p class="fs-1 fw-bold fst-italic">Main Display area</p> -->
      <router-outlet></router-outlet>
    </div>
  </main>
</div>