.container-fluid{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.card{
    margin-right: 30px;
    width: 18rem; 
    border-radius: 20px;
}

.btnsize{
    font-size: x-small;
}
.container{
    display: flex; justify-content: space-between;
    left: auto;
    right: auto;
}

